body {
    margin: 0;
    padding: 0; /* Agregamos padding 0 para evitar desbordamientos */
    overflow-x: hidden;
}


.contenedor-arriba {
    background-color: rgb(245, 153, 3);
    text-align: center;
    padding: 0.5px; /* Ajusta según sea necesario */
}

.contenedor-general {
    background-color: rgb(14, 14, 14);
    overflow-x: hidden;
   
   
}

.texto h2,p{
    margin-top: 10PX;
    color:white;
    text-align: center;
    
}

.titulo{
    text-shadow: 4px 4px 10px rgba(239, 235, 235, 0.3); /* Sombra de texto */
}
.texto h2{
    font-size: 2rem;
}
.primero{
    font-size: 1.5rem;
}
.video {
    position: relative; /* Establece posición relativa para el contenedor */
    padding-bottom: 56.25%; /* Proporción 16:9 para el video (9 / 16 * 100) */
    overflow: hidden; /* Oculta cualquier contenido adicional */
    margin-bottom: 10px; /* Espacio inferior */
    margin-top: 50px;
    
}

.video iframe {
    position: absolute; /* Establece posición absoluta para el video */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde la parte izquierda */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    border: none; /* Quita el borde del iframe */
}


.boton-whatsapp {
    display: inline-block;
    background-color: #25D366; /* Color de fondo del botón de WhatsApp */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Quita subrayado del texto */
    text-align: center;
}

.boton-whatsapp i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.boton-whatsapp:hover {
    background-color: #128C7E; /* Cambia color de fondo al pasar el mouse */
}
.text-center img {
    width: 250px; /* Tamaño deseado */
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 10px; /* Espacio superior */
    
}



.nuevo-contenido {
    width: 88%; /* Cambia el valor según tu preferencia */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 30px; /* Ajusta el valor según el radio de curvatura deseado */
    display: flex;
    flex-direction: column; /* Establece el contenido en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.title1 {
    font-size: 30px;
    margin-right: 1000px;
}

.contenido {
    display: flex;
    justify-content: space-between; /* Coloca los elementos alineados a los extremos */
    align-items: center;
    width: 100%; /* Ajusta el ancho del contenedor */
}

.contenido p {
    margin-top: 10px; /* Ajusta el margen entre el título y el texto */
    margin-left: 20px;
}

.whatsapp-btn {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 10px 6px 8px rgb(42, 42, 42); /* Agrega una sombra al botón */
    transition: all 0.3s ease; /* Agrega transición para el efecto hover */
    margin-top: -30px;
    margin-right: 50px;
    transform: scale(1);
}
.whatsapp-btn:hover {
    background-color: #4CAF50; /* Cambia el color al hacer hover */
    transform: scale(1.1); /* Agranda el botón al hacer hover */
}

.whatsapp-btn i {
    margin-left: 5px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .boton-whatsapp {
        display: block; /* Cambia a bloque para ocupar el ancho completo */
        text-align: center; /* Centra el texto */
    }
}
@media (max-width: 767px) {
    .col-md-6.order-md-2 {
        order: 1; /* Cambia el orden del contenido en dispositivos móviles */
    }

    .col-md-6.order-md-1 {
        order: 2; /* Cambia el orden del contenido en dispositivos móviles */
    }

    .boton-whatsapp {
        display: block; /* Cambia a bloque para ocupar el ancho completo */
        text-align: center; /* Centra el texto */
    }
}
@media only screen and (max-width: 768px) {

    .title1 {
        font-size: 24px; /* Tamaño de fuente ajustado para dispositivos móviles */
        margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
        text-align: center; /* Centrar texto */
    }

    .contenido {
        flex-direction: column; /* Contenido en columna para dispositivos móviles */
        align-items: flex-start; /* Alinear elementos al inicio */
    }

    .whatsapp-btn {
        margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
        margin-top: 10px; /* Ajustar margen superior */
    }
}

