.encabezado-cuadros h1{
    font-size: 35px; 
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 50px;
    z-index: 900;
}

.container-fluid {
    padding-top: 5px; /* Espacio arriba del contenedor */
    padding-bottom: 10px; /* Espacio abajo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    max-width: 1200px; /* Ancho máximo del contenedor */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.custom-row-factura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -15px; /* Compensación para el espacio entre columnas */
    margin-right: -15px; /* Compensación para el espacio entre columnas */
}

.custom-col {
    margin-bottom: 10px; /* Espacio entre los contenedores */
    flex-basis: calc((100% - 30px) / 3); /* Ajusta el ancho de las columnas */
    max-width: calc((100% - 30px) / 3); /* Ancho máximo de las columnas */
    padding: 0 15px; /* Espacio a los lados de cada columna */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
.card-title {
    
    font-weight: bold;
}
.busqueda{
    width: 20px;
}
@media (max-width: 799px) {
    body {
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }
    .custom-row-factura {
        flex-direction: column; /* Cambia la dirección a columna en dispositivos pequeños */
        align-items: center; /* Centra los elementos en dispositivos pequeños */
    }

    .custom-col {
        flex-basis: 100%; /* Ancho completo para cada columna en dispositivos pequeños */
        max-width: 90%; /* Ancho máximo completo para cada columna en dispositivos pequeños */
        margin-bottom: 10px;
      
        margin-top: 10px;
    }
    
    .card-title {
        font-size: 15px; /* Tamaño del título en píxeles */
        font-weight: bold;
    }
    
    
    .card-text {
        font-size: 15px; /* Tamaño del texto en píxeles */
    }

    .encabezado-cuadros h1{
        font-size: 20px;

    
    }
}     


.card {
    border-radius: 15px;
    border: none;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.shadow-lg {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}
