#iconos .icon-container {
    background-color: #e0e0e0; /* Color de fondo gris */
    border-radius: 10px; /* Borde con esquinas redondeadas */
    padding: 20px; /* Espacio interno */
    margin-bottom: 20px; /* Margen inferior */
    cursor: pointer; /* Cambia el cursor al pasar sobre el contenedor */
    position: relative; /* Posición relativa para que la descripción sea relativa a este contenedor */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

#iconos .icon-container:hover,
#iconos .icon-container.active {
    background-color: #007bff; /* Cambiar el color de fondo al pasar el cursor o hacer clic */
    color: #fff; /* Cambiar el color del texto al pasar el cursor o hacer clic */
}

#iconos .icon-container .description {
    display: none; /* Ocultar la descripción por defecto */
    position: absolute; /* Posición absoluta para controlar la ubicación de la descripción */
    top: 100%; /* Posicionar la descripción debajo del contenedor */
    left: 50%; /* Posicionar la descripción en el centro horizontal */
    transform: translateX(-50%); /* Centrar horizontalmente la descripción */
    width: 80%; /* Ancho de la descripción */
    max-width: 200px; /* Ancho máximo de la descripción */
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 5px; /* Borde redondeado */
    z-index: 1; /* Colocar la descripción sobre el contenedor */
}

#iconos .icon-container:hover .description {
    display: block; /* Mostrar la descripción cuando el cursor pasa por encima del contenedor */
}

@media (max-width: 767.98px) {
    /* Estilos para dispositivos móviles */
    #iconos .icon-container {
        width: calc(60% - 1px); /* Ajustar el ancho de los contenedores al 40% del ancho de la pantalla menos el espacio entre ellos */
        margin: 10px auto; /* Centrar horizontalmente los contenedores y ajustar el margen vertical */
    }

    #iconos .row.text-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    /* Estilos para pantallas de computadora */
    #iconos .icon-container {
        width: calc(50% - 20px); /* Ajustar el ancho de los contenedores al 50% del ancho de la pantalla menos el espacio entre ellos */
        margin: 10px auto; /* Centrar horizontalmente los contenedores y ajustar el margen vertical */
    }
}
