    /* Estilos específicos para dispositivos móviles */
    @media (max-width: 767.98px) {
        #inicioTutoriales.embed-responsive {
            padding-bottom: 56.25%; /* Mantener la relación de aspecto del video */
        }

        #inicioTutoriales .embed-responsive iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .inicioVideo-container {
        position: relative;
        padding-bottom: 56.25%; /* Proporción 16:9 */
        height: 0;
        overflow: hidden;
    }
    
    .inicioVideo-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }