#descripcion-contenedor{
    overflow-x: hidden;
}
#mejores-equipos {
    text-align: center;
    padding: 50px 0; /* Ajusta el espaciado según sea necesario */
}

#mejores-equipos h2 {
    font-size: 24px; /* Tamaño grande para el título */
}

.content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 20px; /* Espacio entre el título y el contenido */
}
.row.align-items-center {
    display: flex;
    flex-wrap: wrap; /* Agrega esta línea */
    align-items: center;
}

.info-box {
    flex: 1;
    background-color: #101010; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno del contenedor */
    max-width: 100px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.description {
    text-align: left;
    margin-right: 20px; /* Espacio entre la descripción y la imagen */
}

.image img {
    max-width: 100%;
    max-height: 300px; /* Ajusta el alto máximo según sea necesario */
    height: auto;
}

#mejores-equipos .title {
    font-weight: bold; /* Texto en negrita */
    font-size: 28px; /* Tamaño de fuente un poco más grande */
}

#mejores-equipos .title span {
    color: #88bcf4; /* Cambiar el color del texto "Facturación Electrónica" si lo deseas */
}
#mejores-equipos .subtitle {
    font-weight: bold; /* Texto en negrita */
    font-size: 20px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espacio inferior para separar del párrafo siguiente */
}

#mejores-equipos .description p {
    font-size: 16px; /* Tamaño de fuente normal */
}
#mejores-equipos .info-box {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
.btn {
    margin-right: 10px; /* Espacio entre los botones */
    border: 2px solid #0379f7; /* Borde del botón celeste */
    color: #070707; /* Color del texto */
    background-color: #55a4f8;; /* Fondo celeste */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  }
  
  .btn:hover {
    background-color: #046bd9; /* Fondo celeste */
    color: white; /* Texto blanco */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el ratón */
  }
  
  #imgImpresora  {
    filter: drop-shadow(0px 0px 5px rgb(62, 62, 62));
  }

 /* Estilos para la animación de entrada */
 @keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Aplicar animaciones a los elementos */
.fadeInFromLeft {
    animation: fadeInFromLeft 4s ease-out forwards;
}

.fadeInFromRight {
    animation: fadeInFromRight 4s ease-out forwards;
}