body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}


.cuadrito{
    border: 2px solid #007bff;
}
#ventajas .descripcion {
    text-align: justify;
    padding: 20px;
    /* border: 1px solid #585858; */
    border-radius: 10px;
    background-color: #dbeaf0;
    color: rgb(5, 5, 5);
}

.tit1 h2{
    font-size: 3rem;
    font-weight: bold;
}


.primero ,.segundo, .tercero{
    filter: drop-shadow(0px 0px 5px rgb(95, 95, 95));
}
.iconosventajas {
    margin-top: 15px;
    margin-bottom: 15px;

}
.iconosventajas {
    font-size: 17px; 
    font-weight: bold;
    
    
}
.span-con-sombra {
    text-shadow: 1px 1px 5px rgba(80, 80, 80, 0.5); /* Sombra suave con desplazamiento horizontal de 1px y vertical de 1px */
}





@media (max-width: 767.98px) {

    .iconosventajas {
        display: flex;
        align-items: center;
    }
    
    .icono {
        margin-right: 4px; /* Ajusta el margen derecho entre los iconos */
    }
    
    .segundo {
        margin-left: 1px; /* Ajusta el margen izquierdo del segundo icono */
    }
    .tercero{
        margin-left: 1px;
    }
    
    .texto {
        margin-left: 4px; /* Ajusta el margen izquierdo entre el icono y el texto */
    }


    #ventajas .descripcion {
        text-align: justify;
        padding: 10px;
        border: 1px solid #585858;
        border-radius: 10px;
        background-color: #dbeaf0;
    color: rgb(5, 5, 5);
       
    }

    .tit1 h2{
        font-size: 1.6rem; 
        font-weight: bold;
    }

    .iconosventajas{
        font-size: 14px; 
        font-weight: bold;
    }
}
.green-box {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical según sea necesario */
    left: 10px; /* Ajusta la posición horizontal según sea necesario */
    background-color: #70b2f7;; /* Color verde */
    
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Borde redondeado */
    
}

