.blue-section {
    background-color: #3a4a5a; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    padding: 10px 0; /* Ajusta el espacio interno */
}

.text {
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center; /* Centra el texto horizontalmente */
}

.yellow-text {
    color: #ffc107; /* Color amarillo */
}

.white-text {
    color: #fff; /* Color blanco */
}

.image img {
    max-width: 100%; /* Para que la imagen no desborde del contenedor */
    width: 60%; /* Reducir el ancho de la imagen */
    display: block; /* Para centrar la imagen */
    margin: 0 auto; /* Para centrar la imagen */
}

.btn {
    display: block; /* Hacer que el botón sea un bloque */
    margin: 0 auto; /* Centrar el botón horizontalmente */
}
.about-section .text {
    background-color: #3a4a5a; /* Fondo de color naranja para el texto */
    padding: 20px; /* Agregar espaciado al texto */
    border-radius: 10px; /* Bordes redondeados para el texto */
    margin-top: 20px; /* Espaciado superior al texto */
}

.text h2,p{
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .about-section .image {
        display: none; /* Ocultar la imagen en dispositivos móviles */
    }

    .about-section .text {
        background-color: #3a4a5a; /* Fondo de color naranja para el texto */
        padding: 20px; /* Agregar espaciado al texto */
        border-radius: 10px; /* Bordes redondeados para el texto */
        margin-top: 20px; /* Espaciado superior al texto */
    }
}