/* Reset. */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: #70b2f7;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: #007bff;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}
.unidades {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
.additional-content {
    display: none; /* Oculta el border: 2px solid blue; */
}


.nuevo-contenido {
    width: 88%; /* Cambia el valor según tu preferencia */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 30px; /* Ajusta el valor según el radio de curvatura deseado */
    display: flex;
    flex-direction: column; /* Establece el contenido en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.title1 {
    font-size: 30px;
    margin-right: 800px;
}

.contenido {
    display: flex;
    justify-content: space-between; /* Coloca los elementos alineados a los extremos */
    align-items: center;
    width: 100%; /* Ajusta el ancho del contenedor */
}

.contenido p {
    margin-top: 10px; /* Ajusta el margen entre el título y el texto */
    margin-left: 20px;
}

.whatsapp-btn {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 10px 6px 8px rgb(42, 42, 42); /* Agrega una sombra al botón */
    transition: all 0.3s ease; /* Agrega transición para el efecto hover */
    margin-top: -30px;
    margin-right: 50px;
    transform: scale(1);
}
.whatsapp-btn:hover {
    background-color: #4CAF50; /* Cambia el color al hacer hover */
    transform: scale(1.1); /* Agranda el botón al hacer hover */
}

.whatsapp-btn i {
    margin-left: 5px;
}

#gracias{
    margin-top: 20px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

.title1 {
    font-size: 24px; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    text-align: center; /* Centrar texto */
}

.contenido {
    flex-direction: column; /* Contenido en columna para dispositivos móviles */
    align-items: flex-start; /* Alinear elementos al inicio */
}

.whatsapp-btn {
    margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    margin-top: 10px; /* Ajustar margen superior */
}



.espacio-derecha {
    margin-right: 25px; /* Ajusta el valor según el espacio de separación que desees */
}